language: go
go:
  - 1.6.x
  - 1.7.x
  - 1.8.x
install: make deps
script: make
before_deploy: make dist
deploy:
  provider: releases
  api_key:
    secure: gmsif5d3wwUiZETWXtRbWtbRAgpJ9bpMwBbL50aS61OU8vEhEgl6zIf8c3U5Jkb8Ko0ljzn9ACiX1fJU0a4fa0p2GK2KMTUEHgk/IQCdXOEyFIc/ogYS72YBZQ6h+umjFlnKyUAXlBRE+pTsuQ5gI83jSWrMq2n10pBnjIho78eu67iK5C+WJAolST4+4A0JRZt4gnhfw5SM8Xl5DIlHGZcsdv6UZP5xCcQwvEU/7qJxKz23dVefT7VXWkMawDYgeJ1af5wyCncWFLF5M4YtAvZ6+rCHWsKUmJZo0Ztkt8DMWZQjglLmyhoVlJrZH9Cnou3M3OFwx4GzzTllUWOAjUdbjvMh73VuapyP0K7HlkxC7ZLy9b2gQGsV82AsG5+Sk/zD9x/2XNiLOiapnwKIA5+ct9DAadL4MaAqFnjKda6Se1ps16JlsXa+eHC1KJ8QTtw5xX/hlUFjJG1qXyOwpLYspYoskP+x2VN5uJRqEvWbIgfw1wpACmc7E3Ywap2RBaWwVc2AKtTmwYPhJEzjUsPWZvuzioHsgpgVcoAeTEAtSmsiEAlmVc07v2h9oahrDvJd1Ie+P3FKZRkDvUas2FIh3xNEA3acQ2no7twtW7cJWlj5kTS7bI1uJ8rQvrtFMi92v7OWDTNtjG5RoDevx/pm49eWbv1f4ic9RHX0afY=
  file_glob: true
  file:
    - dist/*-v*.tar.gz
    - dist/*-v*.zip
  on:
    tags: true
    condition: $TRAVIS_TAG =~ ^v[0-9]+\.[0-9]+(\.[0-9]+)?(-[^ \t\r\n\v\f]*)?$ && $TRAVIS_GO_VERSION =~ ^1\.8\.[0-9]+$
